<div class="pokemon-container">
  <% for pokemon in pokemons do %>
    <div class="pokemon">
      <p>Pokemon <%= pokemon.pokedex_id %></p>
      <p>Nickname <%= pokemon.nickname %></p>
    </div>
  <% end %>
</div>
