<div class="pokemon-container">
  <% pokemons = pokemons.order(:created_at) %>
  <% pokemons.each_with_index do |pokemon, i|%>
    <% if pokemon.is_alive? %>
      <% i = i + 2 %>
          <div style="background-color: rgba(<%= (i + 3)* i * i * i %>, 255, 255)" class="pokemon">
        <%= render "pokemon", pokemon: pokemon %>
      </div> 
    <% end %>
  <% end %> 
</div>
<% if pokemons.count < 6 %>
  <button data-controller="add-pokemon" data-action="add-pokemon#add">Add pokemon</button>
<% end %>

<div class="dead-pokemon-container">
  Dead
  <% pokemons.each_with_index do |pokemon, i|%>
    <% unless pokemon.is_alive? %>
      <% i = i + 2 %>
      <div style="background-color: rgba(<%= (i + 3)* i * i * i %>, 255, 255)" class="pokemon">
        <%= render "pokemon", pokemon: pokemon %>
      </div> 
    <% end %>
  <% end %> 
</div>
