<div class="pokemon-container">
  <% for pokemon in pokemons do %>
    <div class="pokemon">
      <%= render "pokemon", pokemon: pokemon %>
    </div> 
  <% end %> 
  <% if pokemons.count < 6 %>
    <button data-controller="add-pokemon" data-action="add-pokemon#add">Add pokemon</button>
  <% end %>
</div>
