<div class="teams-container">
  <% teams = teams.order(:created_at) %>
  <% teams.each_with_index do |team, i| %>
    <div id="team-<%= team.id %>" class="team">
      <% team %>
      Team <%= i + 1 %>
    <%= render "pokemons", pokemons: team.pokemons %>
    </div>
  <% end %>
</div>
