<div class="teams-container">
  <% teams = teams.order(:created_at) %>
  <% teams.each_with_index do |team, i| %>
    <div id="team-<%= team.id %>" class="team">
      <%= render "team", team: team, i: i %>
    </div>
  <% end %>
</div>
