<button data-controller="add-team" data-action="add-team#add">Add player</button>

<%= @game.inspect %>

<div class="teams-container">
  <% for team in @game.teams do %>
    <div class="team">
      Team <%= team.id %>
      <%= render "pokemons", pokemons: team.pokemons %>
      <% if team.pokemons.count < 6 %>
        <button data-controller="add-pokemon" data-action="add-pokemon#add" data-team="<%= team.id %>">Add pokemon</button>
      <% end %>
    </div>
  <% end %>
</div>
