// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.add-player-button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
}

.teams-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center
}

.team {
	border-right: 3px solid black;
	border-bottom: 3px solid black;
}
.pokemon-container {
	display: flex;
	flex-direction: column;
}

.dead-container {
	border: 3px solid #e63946;
	background-color: #e63946;
}

.boxed-container {
	border: 3px solid #9bf6ff;
	background-color: #9bf6ff;
}

.pokemon {
	display: flex;
}

.pokemon-inputs {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.pokemon-sprite {
	margin-top: auto;
	margin-bottom: auto;
}

.container-toggle {
	display: flex;
	flex-direction: column;
	text-align: center;
}
